<h2>{{'Login Form'|translate}}</h2>
<form action="/action_page.php" method="post">
  <div class="imgcontainer">
    <img src="assets/images/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <form [formGroup]="loginForm">
      <div class="credential-box">
        <label for="uname"><b>{{'Email'|translate}}</b></label>
        <input type="text" placeholder="{{'Enter Email'|translate}}" name="uname" formControlName="email"
          class="form-control email-input"
          [ngStyle]="{'border': (loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)) ? '1px solid orangered' : ''}">
        <span
          *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
          class="alert">
          {{'*Please Enter a valid email'|translate}}
        </span>
      </div>

      <div class="credential-box">
        <label for="psw"><b>{{'Password'|translate}}</b></label>
        <input type="password" placeholder="{{'Enter Password'|translate}}" name="psw" formControlName="pass"
          class="form-control"
          [ngStyle]="{'border': (loginForm.controls['pass'].invalid && (loginForm.controls['pass'].dirty || loginForm.controls['pass'].touched)) ? '1px solid orangered' : ''}">
        <span
          *ngIf="loginForm.controls['pass'].invalid && (loginForm.controls['pass'].dirty || loginForm.controls['pass'].touched)"
          class="alert">
          {{'*Please Enter Password'|translate}}
        </span>
      </div>
      <button type="submit" (click)="navigate()"
        [disabled]="loginForm.valid ? false: true">{{'Login'|translate}}</button>
    </form>
  </div>
</form>
<ngx-spinner type="square-jelly-box" size="medium">
  <p class="loader-message"> {{'Loading...'|translate}} </p>
</ngx-spinner>
