.tp-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}
mat-sidenav {
  width: 155px;
  background-color: #9775fa;
  text-align: center;
}
section {
  display: flex;
  padding: 5px;
}
span {
  padding: 5px;
  color: #fff;
}
.loader-message {
  color: #fff;
}
select {
  background-color: #9775fa;
  color: #fff;
  border: none;
}
select::select {
  border: none;
}
